# Configuração e Carregamento de Múltiplos DataFrames

In [ ]:
!pip install pyspark # nstala o PySpark no ambiente Colab.

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark # importa a biblioteca PySpark.
from pyspark.sql import SparkSession # Importa a classe SparkSession, usada para iniciar a sessão Spark.

In [ ]:
spark = SparkSession.builder.getOrCreate() # Cria ou obtém uma instância do SparkSession

In [5]:
# Estas linhas seguintes carregam sete arquivos CSV de um caminho no Google Drive. Cada arquivo é lido, transformado em um DataFrame
# usando a primeira linha como cabeçalho (header=True) e inferindo os tipos de dados (inferSchema=True)
produtos =  spark.read.csv("/content/drive/MyDrive/Material de apoio - M27/produtos.csv", header=True, inferSchema=True)
vendedores =  spark.read.csv("/content/drive/MyDrive/Material de apoio - M27/vendedores.csv", header=True, inferSchema=True)
clientes =  spark.read.csv("/content/drive/MyDrive/Material de apoio - M27/clientes.csv", header=True, inferSchema=True)
itens_pedido =  spark.read.csv("/content/drive/MyDrive/Material de apoio - M27/itens_pedido.csv", header=True, inferSchema=True)
pagamentos_pedido =  spark.read.csv("/content/drive/MyDrive/Material de apoio - M27/pagamentos_pedido.csv", header=True, inferSchema=True)
avaliacoes_pedido =  spark.read.csv("/content/drive/MyDrive/Material de apoio - M27/clientes.csv", header=True, inferSchema=True)
pedidos = spark.read.csv("/content/drive/MyDrive/Material de apoio - M27/pedidos.csv", header=True, inferSchema=True)

# Inspeção Inicial dos DataFrames

In [6]:
print('dataframe produto: \n', produtos.show(n=5, truncate=False))# Exibe as 5 primeiras linhas do DataFrame produtos. O argumento truncate=False garante que o conteúdo das colunas longas seja exibido na íntegra.
print('dataframe vendedores: \n', vendedores.show(5)) # Exibe as 5 primeiras linhas do DataFrame vendedores
print('dataframe clientes: \n', clientes.show(5)) # Exibe as 5 primeiras linhas do DataFrame clientes
print('dataframe itens_pedido: \n', itens_pedido.show(5) ) # Exibe as 5 primeiras linhas do DataFrame itens_pedido
print('dataframe pagamentos_pedido: \n', pagamentos_pedido.show(5) ) # Exibe as 5 primeiras linhas do DataFrame pagamentos_pedido
print('dataframe  avaliacoes_pedido: \n', avaliacoes_pedido.show(5)) # Exibe as 5 primeiras linhas do DataFrame avaliacoes_pedido
print('dataframe pedidos: \n', pedidos.show(5)) # Exibe as 5 primeiras linhas do DataFrame pedidos

+--------------------------------+---------------------+--------------------+-------------------------+------------------------+--------------+----------------------+-----------------+------------------+
|id_produto                      |categoria_produto    |tamanho_nome_produto|tamanho_descricao_produto|quantidade_fotos_produto|peso_produto_g|comprimento_produto_cm|altura_produto_cm|largura_produto_cm|
+--------------------------------+---------------------+--------------------+-------------------------+------------------------+--------------+----------------------+-----------------+------------------+
|1e9e8ef04dbcff4541ed26657ea517e5|perfumaria           |40                  |287                      |1                       |225           |16                    |10               |14                |
|3aa071139cb16b67ca9e5dea641aaa2f|artes                |44                  |276                      |1                       |1000          |30                    |18               |20                |
|96bd76ec8810374ed1b65e291975717f|esporte_lazer        |46                  |250                      |1                       |154           |18                    |9                |15                |
|cef67bcfe19066a932b7673e239eb23d|bebes                |27                  |261                      |1                       |371           |26                    |4                |26                |
|9dc1a7de274444849c219cff195d0b71|utilidades_domesticas|37                  |402                      |4                       |625           |20                    |17               |13                |
+--------------------------------+---------------------+--------------------+-------------------------+------------------------+--------------+----------------------+-----------------+------------------+
only showing top 5 rows

dataframe produto:
 None
+--------------------+------------+-----------------+---------------+
|         id_vendedor|cep_vendedor|  cidade_vendedor|estado_vendedor|
+--------------------+------------+-----------------+---------------+
|3442f8959a84dea7e...|       13023|         campinas|             SP|
|d1b65fc7debc3361e...|       13844|       mogi guacu|             SP|
|ce3ad9de960102d06...|       20031|   rio de janeiro|             RJ|
|c0f3eea2e14555b6f...|        4195|        sao paulo|             SP|
|51a04a8a6bdcb23de...|       12914|braganca paulista|             SP|
+--------------------+------------+-----------------+---------------+
only showing top 5 rows

dataframe vendedores:
 None
+--------------------+--------------------+-----------+--------------------+--------------+
|          id_cliente|    id_unico_cliente|cep_cliente|      cidade_cliente|estado_cliente|
+--------------------+--------------------+-----------+--------------------+--------------+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|      14409|              franca|            SP|
|18955e83d337fd6b2...|290c77bc529b7ac93...|       9790|sao bernardo do c...|            SP|
|4e7b3e00288586ebd...|060e732b5b29e8181...|       1151|           sao paulo|            SP|
|b2b6027bc5c5109e5...|259dac757896d24d7...|       8775|     mogi das cruzes|            SP|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|      13056|            campinas|            SP|
+--------------------+--------------------+-----------+--------------------+--------------+
only showing top 5 rows

dataframe clientes:
 None
+--------------------+--------------+--------------------+--------------------+-------------------+-----+-----------+
|           id_pedido|item_id_pedido|          id_produto|         id_vendedor|  data_limite_envio|preco|valor_frete|
+--------------------+--------------+--------------------+--------------------+-------------------+-----+-----------+
|00010242fe8c5a6d1...|             1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35| 58.9|      13.29|
|00018f77f2f0320c5...|             1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13|239.9|      19.93|
|000229ec398224ef6...|             1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30|199.0|      17.87|
|00024acbcdf0a6daa...|             1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18|12.99|      12.79|
|00042b26cf59d7ce6...|             1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51|199.9|      18.14|
+--------------------+--------------+--------------------+--------------------+-------------------+-----+-----------+
only showing top 5 rows

dataframe itens_pedido:
 None
+--------------------+-------------------+--------------+------------------+---------------+
|           id_pedido|sequencia_pagamento|tipo_pagamento|parcelas_pagamento|valor_pagamento|
+--------------------+-------------------+--------------+------------------+---------------+
|b81ef226f3fe1789b...|                  1|   credit_card|                 8|          99.33|
|a9810da82917af2d9...|                  1|   credit_card|                 1|          24.39|
|25e8ea4e93396b6fa...|                  1|   credit_card|                 1|          65.71|
|ba78997921bbcdc13...|                  1|   credit_card|                 8|         107.78|
|42fdf880ba16b47b5...|                  1|   credit_card|                 2|         128.45|
+--------------------+-------------------+--------------+------------------+---------------+
only showing top 5 rows

dataframe pagamentos_pedido:
 None
+--------------------+--------------------+-----------+--------------------+--------------+
|          id_cliente|    id_unico_cliente|cep_cliente|      cidade_cliente|estado_cliente|
+--------------------+--------------------+-----------+--------------------+--------------+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|      14409|              franca|            SP|
|18955e83d337fd6b2...|290c77bc529b7ac93...|       9790|sao bernardo do c...|            SP|
|4e7b3e00288586ebd...|060e732b5b29e8181...|       1151|           sao paulo|            SP|
|b2b6027bc5c5109e5...|259dac757896d24d7...|       8775|     mogi das cruzes|            SP|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|      13056|            campinas|            SP|
+--------------------+--------------------+-----------+--------------------+--------------+
only showing top 5 rows

dataframe  avaliacoes_pedido:
 None
+--------------------+--------------------+-------------+-------------------+---------------------+-------------------------+--------------------+---------------------+
|           id_pedido|          id_cliente|status_pedido| data_compra_pedido|data_aprovacao_pedido|data_envio_transportadora|data_entrega_cliente|data_estimada_entrega|
+--------------------+--------------------+-------------+-------------------+---------------------+-------------------------+--------------------+---------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|    delivered|2017-10-02 10:56:33|  2017-10-02 11:07:15|      2017-10-04 19:55:00| 2017-10-10 21:25:13|  2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|    delivered|2018-07-24 20:41:37|  2018-07-26 03:24:27|      2018-07-26 14:31:00| 2018-08-07 15:27:45|  2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|    delivered|2018-08-08 08:38:49|  2018-08-08 08:55:23|      2018-08-08 13:50:00| 2018-08-17 18:06:29|  2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|    delivered|2017-11-18 19:28:06|  2017-11-18 19:45:59|      2017-11-22 13:39:59| 2017-12-02 00:28:42|  2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|    delivered|2018-02-13 21:18:39|  2018-02-13 22:20:29|      2018-02-14 19:46:34| 2018-02-16 18:17:02|  2018-02-26 00:00:00|
+--------------------+--------------------+-------------+-------------------+---------------------+-------------------------+--------------------+---------------------+
only showing top 5 rows

dataframe pedidos:
 None

# Acessando Colunas (Diferentes Sintaxes)

In [7]:
# acessar colunas
from pyspark.sql.functions import col # Importa a função col, que é a forma recomendada de referenciar colunas em operações do PySpark, especialmente dentro de transformações.

clientes.select("id_cliente").show(n=1, truncate=False) # Seleciona a coluna id_cliente usando o nome da coluna como string (o mais simples)
clientes.select(col('id_cliente')).show(1) # Seleciona a coluna usando a função col(). É a melhor prática, pois é mais seguro e flexível em expressões.
clientes.select(clientes['id_cliente']).show(1) # Seleciona a coluna usando a notação de dicionário no próprio DataFrame
clientes.select(clientes.id_cliente).show(1) # Seleciona a coluna usando a notação de objeto (DataFrame.coluna).

+--------------------------------+
|id_cliente                      |
+--------------------------------+
|06b8999e2fba1a1fbc88172c00ba8bc7|
+--------------------------------+
only showing top 1 row

+--------------------+
|          id_cliente|
+--------------------+
|06b8999e2fba1a1fb...|
+--------------------+
only showing top 1 row

+--------------------+
|          id_cliente|
+--------------------+
|06b8999e2fba1a1fb...|
+--------------------+
only showing top 1 row

+--------------------+
|          id_cliente|
+--------------------+
|06b8999e2fba1a1fb...|
+--------------------+
only showing top 1 row

# Limpeza e Tratamento de Nulos (na.fill e na.drop)

In [8]:
# Cria um novo DataFrame (produtos_tratar_categ_nulos) onde todos os valores nulos (NaN/Null) na coluna categoria_produto são substituídos pela string 'não especificado'.
produtos_tratar_categ_nulos = produtos.na.fill({'categoria_produto': 'não especificado'})

# Filtra o DataFrame tratado para contar quantas linhas agora têm o valor 'não especificado', verificando a eficácia do preenchimento.
produtos_tratar_categ_nulos.filter(col('categoria_produto') == 'não especificado').count()

610

In [9]:
print('total de pedidos: ', pedidos.count()) # Exibe o número total de registros (linhas) no DataFrame original pedidos

pedidos_unicos = pedidos.dropDuplicates() # Cria um novo DataFrame (pedidos_unicos) removendo todas as linhas que são exatamente iguais em todas as colunas.
print('total de pedidos unicos: ', pedidos_unicos.count()) # Exibe a contagem de linhas após a remoção de duplicatas.

pedidos_remocao_nulos = pedidos_unicos.na.drop() # Cria um novo DataFrame removendo todas as linhas que contêm pelo menos um valor nulo em qualquer coluna.
print('total de pedidos após limpeza de valores nulos: ', pedidos_remocao_nulos.count()) # Exibe a contagem após a remoção de nulos em todas as colunas.

pedidos_remocao_nulos_id = pedidos_unicos.na.drop(subset=['id_cliente', 'id_pedido']) # Cria um novo DataFrame removendo as linhas que contêm valores nulos apenas nas colunas especificadas (id_cliente e id_pedido). Outras colunas com nulos são ignoradas.
print('total de pedidos após limpeza de id nulos: ', pedidos_remocao_nulos_id.count()) # Exibe a contagem após a remoção de nulos em colunas específicas.

total de pedidos:  99441
total de pedidos unicos:  99441
total de pedidos após limpeza de valores nulos:  96461
total de pedidos após limpeza de id nulos:  99441

In [10]:
colunas = ["peso_produto_g", "comprimento_produto_cm", "altura_produto_cm", "largura_produto_cm"] # Define uma lista das colunas relacionadas a medidas físicas dos produtos.

for coluna in colunas:
  produtos = produtos.na.fill({coluna: 0}) # Itera sobre a lista colunas e, para cada coluna, preenche os valores nulos com zero (0)

# Salvamento dos Dados Limpos

In [11]:
# Salva o DataFrame produtos (agora com nulos preenchidos) em um novo local no Google Drive. Usa o modo overwrite e inclui o cabeçalho no arquivo de saída.
produtos.write.mode("overwrite").option("header","true").csv("/content/drive/MyDrive/Material de apoio - M27/output/produtos_tratados.csv")

In [12]:
# Lê o arquivo CSV recém-salvo de volta e exibe as 5 primeiras linhas para confirmar que a operação de escrita foi bem-sucedida.
spark.read.option('header','true').csv("/content/drive/MyDrive/Material de apoio - M27/output/produtos_tratados.csv").show(5)

+--------------------+--------------------+--------------------+-------------------------+------------------------+--------------+----------------------+-----------------+------------------+
|          id_produto|   categoria_produto|tamanho_nome_produto|tamanho_descricao_produto|quantidade_fotos_produto|peso_produto_g|comprimento_produto_cm|altura_produto_cm|largura_produto_cm|
+--------------------+--------------------+--------------------+-------------------------+------------------------+--------------+----------------------+-----------------+------------------+
|1e9e8ef04dbcff454...|          perfumaria|                  40|                      287|                       1|           225|                    16|               10|                14|
|3aa071139cb16b67c...|               artes|                  44|                      276|                       1|          1000|                    30|               18|                20|
|96bd76ec8810374ed...|       esporte_lazer|                  46|                      250|                       1|           154|                    18|                9|                15|
|cef67bcfe19066a93...|               bebes|                  27|                      261|                       1|           371|                    26|                4|                26|
|9dc1a7de274444849...|utilidades_domest...|                  37|                      402|                       4|           625|                    20|               17|                13|
+--------------------+--------------------+--------------------+-------------------------+------------------------+--------------+----------------------+-----------------+------------------+
only showing top 5 rows