# Configuração e Inicialização

In [1]:
!pip install pyspark # Instala o PySpark no ambiente Colab

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark # Importa a biblioteca PySpark
from pyspark.sql import SparkSession # Importa a classe SparkSession, o ponto de entrada para DataFrames
from pyspark.sql.functions import col, upper # Importa funções SQL úteis. col é usada para referenciar colunas em operações, e upper para converter strings para maiúsculas

In [3]:
spark = SparkSession.builder.getOrCreate() # Cria ou obtém uma instância do SparkSession, inicializando o ambiente Spark

In [4]:
from google.colab import drive # Importa o módulo drive específico do Google Colab
drive.mount('/content/drive') # Monta o Google Drive no ambiente Colab, permitindo o acesso aos arquivos armazenados

Mounted at /content/drive

In [5]:
vendedores = spark.read.csv("/content/drive/MyDrive/Material de apoio - M27/vendedores.csv", header=True, inferSchema=True) # Lê o arquivo CSV vendedores.csv do Google Drive, criando um DataFrame. Usa a primeira linha como cabeçalho e infere os tipos de dados
itens_pedido = spark.read.csv("/content/drive/MyDrive/Material de apoio - M27/itens_pedido.csv", header=True, inferSchema=True) # Lê o arquivo CSV itens_pedido.csv do Google Drive, criando um segundo DataFrame

# Transformações Básicas e Tipagem (Casting)

In [6]:
vendedores.show() # Exibe as primeiras linhas do DataFrame vendedores
vendedores.printSchema() # Exibe o esquema do DataFrame (nomes e tipos de dados das colunas) antes das transformações

+--------------------+------------+-----------------+---------------+
|         id_vendedor|cep_vendedor|  cidade_vendedor|estado_vendedor|
+--------------------+------------+-----------------+---------------+
|3442f8959a84dea7e...|       13023|         campinas|             SP|
|d1b65fc7debc3361e...|       13844|       mogi guacu|             SP|
|ce3ad9de960102d06...|       20031|   rio de janeiro|             RJ|
|c0f3eea2e14555b6f...|        4195|        sao paulo|             SP|
|51a04a8a6bdcb23de...|       12914|braganca paulista|             SP|
|c240c4061717ac180...|       20920|   rio de janeiro|             RJ|
|e49c26c3edfa46d22...|       55325|           brejao|             PE|
|1b938a7ec6ac5061a...|       16304|        penapolis|             SP|
|768a86e36ad6aae3d...|        1529|        sao paulo|             SP|
|ccc4bbb5f32a6ab2b...|       80310|         curitiba|             PR|
|8cb7c5ddf41f4d506...|       75110|         anapolis|             GO|
|a7a9b880c49781da6...|       13530|        itirapina|             SP|
|8bd0f31cf0a614c65...|        1222|        sao paulo|             SP|
|05a48cc8859962767...|        5372|        sao paulo|             SP|
|7b8e8ec35bad4b0ef...|       88705|          tubarao|             SC|
|1444c08e64d55fb3c...|       42738| lauro de freitas|             BA|
|166e8f1381e096519...|       88780|         imbituba|             SC|
|e38db885400cd35c7...|       70740|         brasilia|             DF|
|d2e753bb80b7d4faa...|       45810|     porto seguro|             BA|
|f9ec7093df3a7b346...|        5138|        sao paulo|             SP|
+--------------------+------------+-----------------+---------------+
only showing top 20 rows

root
 |-- id_vendedor: string (nullable = true)
 |-- cep_vendedor: integer (nullable = true)
 |-- cidade_vendedor: string (nullable = true)
 |-- estado_vendedor: string (nullable = true)

In [7]:
vendedores_tratados_df = vendedores.withColumn('cep_vendedor', vendedores.cep_vendedor.cast('string')) # Cria um novo DataFrame (vendedores_tratados_df) e converte o tipo de dado da coluna cep_vendedor para string

vendedores_tratados_df = vendedores_tratados_df.withColumn('cidade_vendedor_tratado', upper(vendedores['cidade_vendedor'])) # Adiciona uma nova coluna chamada cidade_vendedor_tratado que contém o conteúdo da coluna cidade_vendedor convertido para letras maiúsculas usando a função upper

vendedores_tratados_df.show() # Exibe o DataFrame transformado, mostrando as alterações nas colunas.
vendedores_tratados_df.printSchema() # Exibe o esquema do DataFrame transformado, confirmando os novos tipos ou colunas

+--------------------+------------+-----------------+---------------+-----------------------+
|         id_vendedor|cep_vendedor|  cidade_vendedor|estado_vendedor|cidade_vendedor_tratado|
+--------------------+------------+-----------------+---------------+-----------------------+
|3442f8959a84dea7e...|       13023|         campinas|             SP|               CAMPINAS|
|d1b65fc7debc3361e...|       13844|       mogi guacu|             SP|             MOGI GUACU|
|ce3ad9de960102d06...|       20031|   rio de janeiro|             RJ|         RIO DE JANEIRO|
|c0f3eea2e14555b6f...|        4195|        sao paulo|             SP|              SAO PAULO|
|51a04a8a6bdcb23de...|       12914|braganca paulista|             SP|      BRAGANCA PAULISTA|
|c240c4061717ac180...|       20920|   rio de janeiro|             RJ|         RIO DE JANEIRO|
|e49c26c3edfa46d22...|       55325|           brejao|             PE|                 BREJAO|
|1b938a7ec6ac5061a...|       16304|        penapolis|             SP|              PENAPOLIS|
|768a86e36ad6aae3d...|        1529|        sao paulo|             SP|              SAO PAULO|
|ccc4bbb5f32a6ab2b...|       80310|         curitiba|             PR|               CURITIBA|
|8cb7c5ddf41f4d506...|       75110|         anapolis|             GO|               ANAPOLIS|
|a7a9b880c49781da6...|       13530|        itirapina|             SP|              ITIRAPINA|
|8bd0f31cf0a614c65...|        1222|        sao paulo|             SP|              SAO PAULO|
|05a48cc8859962767...|        5372|        sao paulo|             SP|              SAO PAULO|
|7b8e8ec35bad4b0ef...|       88705|          tubarao|             SC|                TUBARAO|
|1444c08e64d55fb3c...|       42738| lauro de freitas|             BA|       LAURO DE FREITAS|
|166e8f1381e096519...|       88780|         imbituba|             SC|               IMBITUBA|
|e38db885400cd35c7...|       70740|         brasilia|             DF|               BRASILIA|
|d2e753bb80b7d4faa...|       45810|     porto seguro|             BA|           PORTO SEGURO|
|f9ec7093df3a7b346...|        5138|        sao paulo|             SP|              SAO PAULO|
+--------------------+------------+-----------------+---------------+-----------------------+
only showing top 20 rows

root
 |-- id_vendedor: string (nullable = true)
 |-- cep_vendedor: string (nullable = true)
 |-- cidade_vendedor: string (nullable = true)
 |-- estado_vendedor: string (nullable = true)
 |-- cidade_vendedor_tratado: string (nullable = true)

# Transformações em itens_pedido (Aritmética e Renomeação)

In [8]:
itens_pedido.show() # Exibe as primeiras linhas do DataFrame itens_pedido
itens_pedido.printSchema() # Exibe o esquema do DataFrame antes das transformações

+--------------------+--------------+--------------------+--------------------+-------------------+------+-----------+
|           id_pedido|item_id_pedido|          id_produto|         id_vendedor|  data_limite_envio| preco|valor_frete|
+--------------------+--------------+--------------------+--------------------+-------------------+------+-----------+
|00010242fe8c5a6d1...|             1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35|  58.9|      13.29|
|00018f77f2f0320c5...|             1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13| 239.9|      19.93|
|000229ec398224ef6...|             1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30| 199.0|      17.87|
|00024acbcdf0a6daa...|             1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18| 12.99|      12.79|
|00042b26cf59d7ce6...|             1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51| 199.9|      18.14|
|00048cc3ae777c65d...|             1|ef92defde845ab845...|6426d21aca402a131...|2017-05-23 03:55:27|  21.9|      12.69|
|00054e8431b9d7675...|             1|8d4f2bb7e93e6710a...|7040e82f899a04d1b...|2017-12-14 12:10:31|  19.9|      11.85|
|000576fe39319847c...|             1|557d850972a7d6f79...|5996cddab893a4652...|2018-07-10 12:30:45| 810.0|      70.75|
|0005a1a1728c9d785...|             1|310ae3c140ff94b03...|a416b6a846a117243...|2018-03-26 18:31:29|145.95|      11.65|
|0005f50442cb953dc...|             1|4535b0e1091c278df...|ba143b05f0110f0dc...|2018-07-06 14:10:56| 53.99|       11.4|
|00061f2a7bc09da83...|             1|d63c1011f49d98b97...|cc419e0650a3c5ba7...|2018-03-29 22:28:09| 59.99|       8.88|
|00063b381e2406b52...|             1|f177554ea93259a5b...|8602a61d680a10a82...|2018-07-31 17:30:39|  45.0|      12.98|
|0006ec9db01a64e59...|             1|99a4788cb24856965...|4a3ca9315b744ce9f...|2018-07-26 17:24:20|  74.0|      23.32|
|0008288aa423d2a3f...|             1|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52|  49.9|      13.37|
|0008288aa423d2a3f...|             2|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52|  49.9|      13.37|
|0009792311464db53...|             1|8cab8abac59158715...|530ec6109d11eaaf8...|2018-08-17 12:15:10|  99.9|      27.65|
|0009c9a17f916a706...|             1|3f27ac8e699df3d30...|fcb5ace8bcc92f757...|2018-05-02 09:31:53| 639.0|      11.34|
|000aed2e25dbad2f9...|             1|4fa33915031a8cde0...|fe2032dab1a61af87...|2018-05-16 20:57:03| 144.0|       8.77|
|000c3e6612759851c...|             1|b50c950aba0dcead2...|218d46b86c1881d02...|2017-08-21 03:33:13|  99.0|      13.71|
|000e562887b1f2006...|             1|5ed9eaf534f6936b5...|8cbac7e12637ed9cf...|2018-02-28 12:08:37|  25.0|      16.11|
+--------------------+--------------+--------------------+--------------------+-------------------+------+-----------+
only showing top 20 rows

root
 |-- id_pedido: string (nullable = true)
 |-- item_id_pedido: integer (nullable = true)
 |-- id_produto: string (nullable = true)
 |-- id_vendedor: string (nullable = true)
 |-- data_limite_envio: timestamp (nullable = true)
 |-- preco: double (nullable = true)
 |-- valor_frete: double (nullable = true)

In [13]:
# Cria um novo DataFrame aplicando uma sequência de transformações:

# Converte a coluna preco para o tipo numérico Float (ponto flutuante)
# Converte a coluna valor_frete para o tipo Float.
# Renomeia a coluna valor_frete para frete
# Adiciona uma nova coluna valor_total, que é o resultado da soma das colunas preco e frete.
itens_pedido_tratados_df = itens_pedido \
    .withColumn('preco', col('preco').cast('float')) \
    .withColumn('valor_frete', col('valor_frete').cast('float')) \
    .withColumnRenamed('valor_frete', 'frete') \
    .withColumn('valor_total', col('preco') + col('frete'))

itens_pedido_tratados_df.show() # Exibe as primeiras linhas do DataFrame transformado, mostrando a nova coluna valor_total

itens_pedido_tratados_df.printSchema() # Exibe o esquema, confirmando que preco, frete e valor_total são do tipo float

+--------------------+--------------+--------------------+--------------------+-------------------+------+-----+-----------+
|           id_pedido|item_id_pedido|          id_produto|         id_vendedor|  data_limite_envio| preco|frete|valor_total|
+--------------------+--------------+--------------------+--------------------+-------------------+------+-----+-----------+
|00010242fe8c5a6d1...|             1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35|  58.9|13.29|      72.19|
|00018f77f2f0320c5...|             1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13| 239.9|19.93|     259.83|
|000229ec398224ef6...|             1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30| 199.0|17.87|     216.87|
|00024acbcdf0a6daa...|             1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18| 12.99|12.79|  25.779999|
|00042b26cf59d7ce6...|             1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51| 199.9|18.14|     218.04|
|00048cc3ae777c65d...|             1|ef92defde845ab845...|6426d21aca402a131...|2017-05-23 03:55:27|  21.9|12.69|      34.59|
|00054e8431b9d7675...|             1|8d4f2bb7e93e6710a...|7040e82f899a04d1b...|2017-12-14 12:10:31|  19.9|11.85|      31.75|
|000576fe39319847c...|             1|557d850972a7d6f79...|5996cddab893a4652...|2018-07-10 12:30:45| 810.0|70.75|     880.75|
|0005a1a1728c9d785...|             1|310ae3c140ff94b03...|a416b6a846a117243...|2018-03-26 18:31:29|145.95|11.65|  157.59999|
|0005f50442cb953dc...|             1|4535b0e1091c278df...|ba143b05f0110f0dc...|2018-07-06 14:10:56| 53.99| 11.4|      65.39|
|00061f2a7bc09da83...|             1|d63c1011f49d98b97...|cc419e0650a3c5ba7...|2018-03-29 22:28:09| 59.99| 8.88|      68.87|
|00063b381e2406b52...|             1|f177554ea93259a5b...|8602a61d680a10a82...|2018-07-31 17:30:39|  45.0|12.98|      57.98|
|0006ec9db01a64e59...|             1|99a4788cb24856965...|4a3ca9315b744ce9f...|2018-07-26 17:24:20|  74.0|23.32|      97.32|
|0008288aa423d2a3f...|             1|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52|  49.9|13.37|      63.27|
|0008288aa423d2a3f...|             2|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52|  49.9|13.37|      63.27|
|0009792311464db53...|             1|8cab8abac59158715...|530ec6109d11eaaf8...|2018-08-17 12:15:10|  99.9|27.65|     127.55|
|0009c9a17f916a706...|             1|3f27ac8e699df3d30...|fcb5ace8bcc92f757...|2018-05-02 09:31:53| 639.0|11.34|     650.34|
|000aed2e25dbad2f9...|             1|4fa33915031a8cde0...|fe2032dab1a61af87...|2018-05-16 20:57:03| 144.0| 8.77|     152.77|
|000c3e6612759851c...|             1|b50c950aba0dcead2...|218d46b86c1881d02...|2017-08-21 03:33:13|  99.0|13.71|     112.71|
|000e562887b1f2006...|             1|5ed9eaf534f6936b5...|8cbac7e12637ed9cf...|2018-02-28 12:08:37|  25.0|16.11|      41.11|
+--------------------+--------------+--------------------+--------------------+-------------------+------+-----+-----------+
only showing top 20 rows

root
 |-- id_pedido: string (nullable = true)
 |-- item_id_pedido: integer (nullable = true)
 |-- id_produto: string (nullable = true)
 |-- id_vendedor: string (nullable = true)
 |-- data_limite_envio: timestamp (nullable = true)
 |-- preco: float (nullable = true)
 |-- frete: float (nullable = true)
 |-- valor_total: float (nullable = true)

# Manipulação de Data e Hora (to_date, date_format)

In [14]:
from pyspark.sql.functions import to_date, date_format # Importa funções SQL específicas para manipulação de data/hora.

itens_pedido_data_df = itens_pedido_tratados_df.withColumn("data", to_date(col("data_limite_envio"))) # Cria uma nova coluna chamada data convertendo a coluna data_limite_envio (que é Timestamp ou String) para o tipo Date (apenas data)

itens_pedido_data_df = itens_pedido_data_df.withColumn("data_br", date_format(col("data_limite_envio"), 'dd/MM/yyyy')) # Cria a coluna data_br formatando a data no formato brasileiro (dia/mês/ano) como uma string
itens_pedido_data_df = itens_pedido_data_df.withColumn("hora", date_format(col("data_limite_envio"), 'HH:mm:ss')) # Cria a coluna hora extraindo e formatando a parte da hora no formato HH:mm:ss como uma string

itens_pedido_data_df.show() # Exibe o DataFrame com as novas colunas de data e hora
itens_pedido_data_df.printSchema() # Exibe o esquema, mostrando que data é DateType e data_br/hora são StringType

+--------------------+--------------+--------------------+--------------------+-------------------+------+-----+-----------+----------+----------+--------+
|           id_pedido|item_id_pedido|          id_produto|         id_vendedor|  data_limite_envio| preco|frete|valor_total|      data|   data_br|    hora|
+--------------------+--------------+--------------------+--------------------+-------------------+------+-----+-----------+----------+----------+--------+
|00010242fe8c5a6d1...|             1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35|  58.9|13.29|      72.19|2017-09-19|19/09/2017|09:45:35|
|00018f77f2f0320c5...|             1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13| 239.9|19.93|     259.83|2017-05-03|03/05/2017|11:05:13|
|000229ec398224ef6...|             1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30| 199.0|17.87|     216.87|2018-01-18|18/01/2018|14:48:30|
|00024acbcdf0a6daa...|             1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18| 12.99|12.79|  25.779999|2018-08-15|15/08/2018|10:10:18|
|00042b26cf59d7ce6...|             1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51| 199.9|18.14|     218.04|2017-02-13|13/02/2017|13:57:51|
|00048cc3ae777c65d...|             1|ef92defde845ab845...|6426d21aca402a131...|2017-05-23 03:55:27|  21.9|12.69|      34.59|2017-05-23|23/05/2017|03:55:27|
|00054e8431b9d7675...|             1|8d4f2bb7e93e6710a...|7040e82f899a04d1b...|2017-12-14 12:10:31|  19.9|11.85|      31.75|2017-12-14|14/12/2017|12:10:31|
|000576fe39319847c...|             1|557d850972a7d6f79...|5996cddab893a4652...|2018-07-10 12:30:45| 810.0|70.75|     880.75|2018-07-10|10/07/2018|12:30:45|
|0005a1a1728c9d785...|             1|310ae3c140ff94b03...|a416b6a846a117243...|2018-03-26 18:31:29|145.95|11.65|  157.59999|2018-03-26|26/03/2018|18:31:29|
|0005f50442cb953dc...|             1|4535b0e1091c278df...|ba143b05f0110f0dc...|2018-07-06 14:10:56| 53.99| 11.4|      65.39|2018-07-06|06/07/2018|14:10:56|
|00061f2a7bc09da83...|             1|d63c1011f49d98b97...|cc419e0650a3c5ba7...|2018-03-29 22:28:09| 59.99| 8.88|      68.87|2018-03-29|29/03/2018|22:28:09|
|00063b381e2406b52...|             1|f177554ea93259a5b...|8602a61d680a10a82...|2018-07-31 17:30:39|  45.0|12.98|      57.98|2018-07-31|31/07/2018|17:30:39|
|0006ec9db01a64e59...|             1|99a4788cb24856965...|4a3ca9315b744ce9f...|2018-07-26 17:24:20|  74.0|23.32|      97.32|2018-07-26|26/07/2018|17:24:20|
|0008288aa423d2a3f...|             1|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52|  49.9|13.37|      63.27|2018-02-21|21/02/2018|02:55:52|
|0008288aa423d2a3f...|             2|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52|  49.9|13.37|      63.27|2018-02-21|21/02/2018|02:55:52|
|0009792311464db53...|             1|8cab8abac59158715...|530ec6109d11eaaf8...|2018-08-17 12:15:10|  99.9|27.65|     127.55|2018-08-17|17/08/2018|12:15:10|
|0009c9a17f916a706...|             1|3f27ac8e699df3d30...|fcb5ace8bcc92f757...|2018-05-02 09:31:53| 639.0|11.34|     650.34|2018-05-02|02/05/2018|09:31:53|
|000aed2e25dbad2f9...|             1|4fa33915031a8cde0...|fe2032dab1a61af87...|2018-05-16 20:57:03| 144.0| 8.77|     152.77|2018-05-16|16/05/2018|20:57:03|
|000c3e6612759851c...|             1|b50c950aba0dcead2...|218d46b86c1881d02...|2017-08-21 03:33:13|  99.0|13.71|     112.71|2017-08-21|21/08/2017|03:33:13|
|000e562887b1f2006...|             1|5ed9eaf534f6936b5...|8cbac7e12637ed9cf...|2018-02-28 12:08:37|  25.0|16.11|      41.11|2018-02-28|28/02/2018|12:08:37|
+--------------------+--------------+--------------------+--------------------+-------------------+------+-----+-----------+----------+----------+--------+
only showing top 20 rows

root
 |-- id_pedido: string (nullable = true)
 |-- item_id_pedido: integer (nullable = true)
 |-- id_produto: string (nullable = true)
 |-- id_vendedor: string (nullable = true)
 |-- data_limite_envio: timestamp (nullable = true)
 |-- preco: float (nullable = true)
 |-- frete: float (nullable = true)
 |-- valor_total: float (nullable = true)
 |-- data: date (nullable = true)
 |-- data_br: string (nullable = true)
 |-- hora: string (nullable = true)

# Conversão de Timestamp (Unix Time)

In [15]:
from pyspark.sql.functions import unix_timestamp, from_unixtime # Importa funções SQL para conversão de e para Unix Time (timestamp em segundos)

itens_pedido_data_reverso_df = itens_pedido_data_df.withColumn('timestamp', unix_timestamp(col('data_br'), 'dd/MM/yyyy')) # Converte a coluna string data_br (no formato dd/MM/yyyy) em um timestamp Unix (número de segundos desde 1970)

itens_pedido_data_reverso_df = itens_pedido_data_reverso_df.withColumn('data_formatada', from_unixtime('timestamp', 'yyyy/MM/dd')).withColumn('data_formatada', col('data_formatada').cast('date')) # (from_unixtime e cast): Primeiro, converte o timestamp de volta para uma string de data formatada (yyyy/MM/dd). Em seguida, converte essa string de data formatada para o tipo Date

itens_pedido_data_reverso_df.show() # Exibe o DataFrame, mostrando o timestamp numérico e a data final reformatada
itens_pedido_data_reverso_df.printSchema() # Exibe o esquema, mostrando que data_formatada é do tipo DateType

+--------------------+--------------+--------------------+--------------------+-------------------+------+-----+-----------+----------+----------+--------+----------+--------------+
|           id_pedido|item_id_pedido|          id_produto|         id_vendedor|  data_limite_envio| preco|frete|valor_total|      data|   data_br|    hora| timestamp|data_formatada|
+--------------------+--------------+--------------------+--------------------+-------------------+------+-----+-----------+----------+----------+--------+----------+--------------+
|00010242fe8c5a6d1...|             1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35|  58.9|13.29|      72.19|2017-09-19|19/09/2017|09:45:35|1505779200|          NULL|
|00018f77f2f0320c5...|             1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13| 239.9|19.93|     259.83|2017-05-03|03/05/2017|11:05:13|1493769600|          NULL|
|000229ec398224ef6...|             1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30| 199.0|17.87|     216.87|2018-01-18|18/01/2018|14:48:30|1516233600|          NULL|
|00024acbcdf0a6daa...|             1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18| 12.99|12.79|  25.779999|2018-08-15|15/08/2018|10:10:18|1534291200|          NULL|
|00042b26cf59d7ce6...|             1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51| 199.9|18.14|     218.04|2017-02-13|13/02/2017|13:57:51|1486944000|          NULL|
|00048cc3ae777c65d...|             1|ef92defde845ab845...|6426d21aca402a131...|2017-05-23 03:55:27|  21.9|12.69|      34.59|2017-05-23|23/05/2017|03:55:27|1495497600|          NULL|
|00054e8431b9d7675...|             1|8d4f2bb7e93e6710a...|7040e82f899a04d1b...|2017-12-14 12:10:31|  19.9|11.85|      31.75|2017-12-14|14/12/2017|12:10:31|1513209600|          NULL|
|000576fe39319847c...|             1|557d850972a7d6f79...|5996cddab893a4652...|2018-07-10 12:30:45| 810.0|70.75|     880.75|2018-07-10|10/07/2018|12:30:45|1531180800|          NULL|
|0005a1a1728c9d785...|             1|310ae3c140ff94b03...|a416b6a846a117243...|2018-03-26 18:31:29|145.95|11.65|  157.59999|2018-03-26|26/03/2018|18:31:29|1522022400|          NULL|
|0005f50442cb953dc...|             1|4535b0e1091c278df...|ba143b05f0110f0dc...|2018-07-06 14:10:56| 53.99| 11.4|      65.39|2018-07-06|06/07/2018|14:10:56|1530835200|          NULL|
|00061f2a7bc09da83...|             1|d63c1011f49d98b97...|cc419e0650a3c5ba7...|2018-03-29 22:28:09| 59.99| 8.88|      68.87|2018-03-29|29/03/2018|22:28:09|1522281600|          NULL|
|00063b381e2406b52...|             1|f177554ea93259a5b...|8602a61d680a10a82...|2018-07-31 17:30:39|  45.0|12.98|      57.98|2018-07-31|31/07/2018|17:30:39|1532995200|          NULL|
|0006ec9db01a64e59...|             1|99a4788cb24856965...|4a3ca9315b744ce9f...|2018-07-26 17:24:20|  74.0|23.32|      97.32|2018-07-26|26/07/2018|17:24:20|1532563200|          NULL|
|0008288aa423d2a3f...|             1|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52|  49.9|13.37|      63.27|2018-02-21|21/02/2018|02:55:52|1519171200|          NULL|
|0008288aa423d2a3f...|             2|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52|  49.9|13.37|      63.27|2018-02-21|21/02/2018|02:55:52|1519171200|          NULL|
|0009792311464db53...|             1|8cab8abac59158715...|530ec6109d11eaaf8...|2018-08-17 12:15:10|  99.9|27.65|     127.55|2018-08-17|17/08/2018|12:15:10|1534464000|          NULL|
|0009c9a17f916a706...|             1|3f27ac8e699df3d30...|fcb5ace8bcc92f757...|2018-05-02 09:31:53| 639.0|11.34|     650.34|2018-05-02|02/05/2018|09:31:53|1525219200|          NULL|
|000aed2e25dbad2f9...|             1|4fa33915031a8cde0...|fe2032dab1a61af87...|2018-05-16 20:57:03| 144.0| 8.77|     152.77|2018-05-16|16/05/2018|20:57:03|1526428800|          NULL|
|000c3e6612759851c...|             1|b50c950aba0dcead2...|218d46b86c1881d02...|2017-08-21 03:33:13|  99.0|13.71|     112.71|2017-08-21|21/08/2017|03:33:13|1503273600|          NULL|
|000e562887b1f2006...|             1|5ed9eaf534f6936b5...|8cbac7e12637ed9cf...|2018-02-28 12:08:37|  25.0|16.11|      41.11|2018-02-28|28/02/2018|12:08:37|1519776000|          NULL|
+--------------------+--------------+--------------------+--------------------+-------------------+------+-----+-----------+----------+----------+--------+----------+--------------+
only showing top 20 rows

root
 |-- id_pedido: string (nullable = true)
 |-- item_id_pedido: integer (nullable = true)
 |-- id_produto: string (nullable = true)
 |-- id_vendedor: string (nullable = true)
 |-- data_limite_envio: timestamp (nullable = true)
 |-- preco: float (nullable = true)
 |-- frete: float (nullable = true)
 |-- valor_total: float (nullable = true)
 |-- data: date (nullable = true)
 |-- data_br: string (nullable = true)
 |-- hora: string (nullable = true)
 |-- timestamp: long (nullable = true)
 |-- data_formatada: date (nullable = true)

# Escrita e Encerramento

In [16]:
itens_pedido_data_df.write.mode('overwrite').option('header', 'true').csv('output/itens_pedido_tratado_csv') # Salva o DataFrame: Escreve o DataFrame itens_pedido_data_df no formato CSV no diretório output/itens_pedido_tratado_csv. Usa o modo overwrite e inclui o cabeçalho

In [17]:
spark.read.option('header', 'true').csv('output/itens_pedido_tratado_csv').show() # Lê o arquivo CSV recém-salvo de volta no Spark e exibe o resultado para confirmar a escrita.

+--------------------+--------------+--------------------+--------------------+--------------------+------+-----+-----------+----------+----------+--------+
|           id_pedido|item_id_pedido|          id_produto|         id_vendedor|   data_limite_envio| preco|frete|valor_total|      data|   data_br|    hora|
+--------------------+--------------+--------------------+--------------------+--------------------+------+-----+-----------+----------+----------+--------+
|00010242fe8c5a6d1...|             1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19T09:45:...|  58.9|13.29|      72.19|2017-09-19|19/09/2017|09:45:35|
|00018f77f2f0320c5...|             1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03T11:05:...| 239.9|19.93|     259.83|2017-05-03|03/05/2017|11:05:13|
|000229ec398224ef6...|             1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18T14:48:...| 199.0|17.87|     216.87|2018-01-18|18/01/2018|14:48:30|
|00024acbcdf0a6daa...|             1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15T10:10:...| 12.99|12.79|  25.779999|2018-08-15|15/08/2018|10:10:18|
|00042b26cf59d7ce6...|             1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13T13:57:...| 199.9|18.14|     218.04|2017-02-13|13/02/2017|13:57:51|
|00048cc3ae777c65d...|             1|ef92defde845ab845...|6426d21aca402a131...|2017-05-23T03:55:...|  21.9|12.69|      34.59|2017-05-23|23/05/2017|03:55:27|
|00054e8431b9d7675...|             1|8d4f2bb7e93e6710a...|7040e82f899a04d1b...|2017-12-14T12:10:...|  19.9|11.85|      31.75|2017-12-14|14/12/2017|12:10:31|
|000576fe39319847c...|             1|557d850972a7d6f79...|5996cddab893a4652...|2018-07-10T12:30:...| 810.0|70.75|     880.75|2018-07-10|10/07/2018|12:30:45|
|0005a1a1728c9d785...|             1|310ae3c140ff94b03...|a416b6a846a117243...|2018-03-26T18:31:...|145.95|11.65|  157.59999|2018-03-26|26/03/2018|18:31:29|
|0005f50442cb953dc...|             1|4535b0e1091c278df...|ba143b05f0110f0dc...|2018-07-06T14:10:...| 53.99| 11.4|      65.39|2018-07-06|06/07/2018|14:10:56|
|00061f2a7bc09da83...|             1|d63c1011f49d98b97...|cc419e0650a3c5ba7...|2018-03-29T22:28:...| 59.99| 8.88|      68.87|2018-03-29|29/03/2018|22:28:09|
|00063b381e2406b52...|             1|f177554ea93259a5b...|8602a61d680a10a82...|2018-07-31T17:30:...|  45.0|12.98|      57.98|2018-07-31|31/07/2018|17:30:39|
|0006ec9db01a64e59...|             1|99a4788cb24856965...|4a3ca9315b744ce9f...|2018-07-26T17:24:...|  74.0|23.32|      97.32|2018-07-26|26/07/2018|17:24:20|
|0008288aa423d2a3f...|             1|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21T02:55:...|  49.9|13.37|      63.27|2018-02-21|21/02/2018|02:55:52|
|0008288aa423d2a3f...|             2|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21T02:55:...|  49.9|13.37|      63.27|2018-02-21|21/02/2018|02:55:52|
|0009792311464db53...|             1|8cab8abac59158715...|530ec6109d11eaaf8...|2018-08-17T12:15:...|  99.9|27.65|     127.55|2018-08-17|17/08/2018|12:15:10|
|0009c9a17f916a706...|             1|3f27ac8e699df3d30...|fcb5ace8bcc92f757...|2018-05-02T09:31:...| 639.0|11.34|     650.34|2018-05-02|02/05/2018|09:31:53|
|000aed2e25dbad2f9...|             1|4fa33915031a8cde0...|fe2032dab1a61af87...|2018-05-16T20:57:...| 144.0| 8.77|     152.77|2018-05-16|16/05/2018|20:57:03|
|000c3e6612759851c...|             1|b50c950aba0dcead2...|218d46b86c1881d02...|2017-08-21T03:33:...|  99.0|13.71|     112.71|2017-08-21|21/08/2017|03:33:13|
|000e562887b1f2006...|             1|5ed9eaf534f6936b5...|8cbac7e12637ed9cf...|2018-02-28T12:08:...|  25.0|16.11|      41.11|2018-02-28|28/02/2018|12:08:37|
+--------------------+--------------+--------------------+--------------------+--------------------+------+-----+-----------+----------+----------+--------+
only showing top 20 rows

In [18]:
spark.stop() # Encerra o SparkSession e libera os recursos alocados